<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href='https://fonts.googleapis.com/css?family=Delius+Unicase' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div id="tea-main">
    <span class="title">&nbsp;Tea&nbsp;</span>
    <img src="http://cdn-6.howtodrawit.com/img/coloring-teacup.jpg" alt="">
    <span class="title">Time(r)</span>
  </div>

  <!-- empty column on left -->
  <div class="col-md-1"></div>
  
  <div class="col-md-6 left">
    <h3>Select Your Tea...</h3>
    <ul class="nav nav-pills nav-stacked" id="select-tea">
      <% tea.teas.forEach(function(item){ %>
      <li id="<%=item.type %>" class="tea-type"><a href="#"><%= item.type %> Tea</a></li>
      <% }); %>
    </ul>
  </div>

  <!-- empty column between panels -->
  <div class="col-md-1"></div>

  <div class="col-md-3 right">
    <div class="well">
      Steep <span id="tea-type-right"></span> tea for about <span id="tea-time-right"></span> mins.
    </div>
    <div class="panel panel-default">
        <div class="panel-body steep">
          Ideal water temperature for this tea is: <span id="tea-temp-right"></span> &deg;C
        </div>
    </div>
    
    <div class="steep-button-wrapper">
    <br /><p id="timer-set">Timer Set:</p>
    <div id="timer"></div>
    <br />
      <button type="button" id="steeper" class="btn btn-success">
        Start The Steep Timer
      </button>
    </div>

  </div>

  <!-- empty column on right -->
  <div class="col-md-1"></div>
  
  <script src="javascripts/scripts.js"></script>
  </body>
</html>
